:root {
  --accent: #d8bfd8;
  --accent-light: #e4d4e4;
  --darkslategray: #2f4f4f;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: var(--darkslategray);
  background: rgb(252, 255, 244); /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    rgba(252, 255, 244, 1) 0%,
    rgba(252, 255, 244, 1) 39%,
    rgba(233, 233, 206, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(252, 255, 244, 1) 0%,
    rgba(252, 255, 244, 1) 39%,
    rgba(233, 233, 206, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(252, 255, 244, 1) 0%,
    rgba(252, 255, 244, 1) 39%,
    rgba(233, 233, 206, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.section-title {
  text-transform: uppercase;
  text-align: center;
}
.section {
  padding: 60px 0;
}
.container {
  width: 1440px;
  margin: o auto;
  padding: o 15px;
  /* border: 1px solid black; */
}
.header {
  background-color: var(--accent);
}
.header a {
  color: var(--darkslategray);
  text-decoration: none;
}
.header-nav {
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  display: inline-block;
  width: 20%;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 0 75px;
}
/* .header-logo img {
  width: 100%;
  height: 70px;
  object-fit: contain;
} */
.header-menu {
  justify-content: flex-end;
  gap: 20px;
  flex-wrap: wrap;
  display: flex;
  margin: o;
  padding: o;
  list-style: none;
}

/* .clear-fix {
  content: "";
  display: table;
  clear: both;
  (clear-fix is in header-menu in HTML) 
} */
/* .header-menu-item {
  float: left;
} */

.header-menu-link {
  padding: 15px 10px;
  text-transform: uppercase;
  line-height: 20px;
  font-size: 20px;
  transition: background-color 1s;
}
.header-menu-link:hover {
  background-color: var(--accent-light);
}
.intro {
  padding: 60px 0;
}
.intro-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 35px; */
}
.intro-left {
  width: 20%;
}
.intro-right {
  width: 50%;
  padding: 55px 0;
}
.intro-img {
  width: 200px;
  border-radius: 90%;
}
.intro-right h1 {
  margin: 0 0 15px;
}

.contacts ul {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 25px;
  margin: 0 10px;
  padding: 0;
  list-style: none;
}

.skills {
  background-color: var(--accent);
  padding: 15px 0;
}
.skills ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin: 0;
  padding: 0 10px 20px 0;
  list-style: none;
}
.skills li {
  padding: 0 25px;
  background-color: var(--accent-light);
  border-radius: 5px;
}
.code-example {
  text-align: center;
}
.code-example p {
  font-style: italic;
}
.code-example b {
  font-style: normal;
}
.code-example pre {
  width: 40%;
  margin: auto;
  text-align: center;
  color: var(--darkslategray);
  background-color: var(--accent);
  font-size: 1em;
  border-radius: 5px;
}
.portfolio {
  background-color: var(--accent);
  padding: 15px 0;
}
.portfolio ul {
  margin: 0;
  padding: 15px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.portfolio li {
  background-color: var(--accent-light);
  padding-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
}
.portfolio img {
  width: 100%;
  height: 250px;
}

.portfolio ul a {
  display: inline-block;
  padding: 10px 30px;
  background-color: var(--accent);
  text-decoration: none;
  border-radius: 5px;
  /* color: var(--darkslategray); */
  transform: all 0.3s;
}
.portfolio ul a:hover {
  background-color: lightgrey;
}
.languages ul {
  margin-left: 600px;
}
.languages li {
  font-size: 20px;
  margin: 0 0 15px 0;
  background: url(/images/iconmonstr-check-mark-9.svg) left no-repeat;
  padding-left: 30px;
  list-style: none;
}
.education {
  background-color: var(--accent);
  padding: 15px 0;
}
.education p {
  text-align: center;
}
.link {
  text-align: center;
}
